<%= render 'shared/errors', obj: @track %> 

<%= form_for @track do |f| %>
  <div class="row main-text">
    <div class="col-sm-5 form-group">
      <%= f.label :title %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :url, "Bandcamp Link" %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.url_field :url, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :embed_url, "Bandcamp Embed Link" %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.url_field :embed_url, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :comments %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_area :comments, class: "form-control" %>
    </div> 
    <div class="col-sm-5 form-group">
      <%= f.label :lyrics %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_area :lyrics, class: "form-control" %>
    </div> 
    <div class="col-sm-5 form-group">
      <%= f.label :recorded_date %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.date_field :recorded_date, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :release_id %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.select :release_id, options_for_select(Release.all.order(:title).map{ |s| [s.title, s.id]}, @track.release_id), {include_blank: "Select Release"}, { class: "form-control" } %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <%= f.submit(@track.new_record? ? 'Create new Track' : 'Edit Track', class: "btn btn-default form-button") %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <button class="btn btn-default form-button"><%= link_to "Cancel", :back, class: "form-button" %></button>
    </div>

  </div>
  
<% end %>

<hr/>