<div class="row mb-3">
  <div class="col text-center">
    <%= link_to "ADD NEW Subscriber", register_path, class: "main-text main-text-header main-text-link" %>
  </div>
</div>
<hr/>
<div class="row my-3">
  <div class="col-12 text-center main-text main-text-header">
    <%= link_to "Download Mailing List Addresses", dlemail_path, class: "main-text-link" %>
  </div>
</div>
<hr/>
<%= render 'shared/page_title', title: "All Subscribers" %>



<%= will_paginate %>
<% if @users.total_pages > 1 %>
  <hr/>
<% end %>
<% @users.each do |user| %>
  <div class="row">
    <div class="col-3">
      <section class="text-center mt-3">
        <%= gravatar_for user %>
      </section>
    </div>
    <div class="col-5">
      <section class="main-text">
        <p><strong>Username: </strong><%= link_to user.username, user_path(user), class: "main-text main-text-link" %></p>
        <p><strong>Email: </strong><%= user.email %></p>
        <p><small><strong>Subscribed: </strong><%= time_ago_in_words(user.created_at) %> ago</small></p>
      </section>
    </div>
    <div class="col-6 col-lg-2 text-center align-self-center">
      <%= link_to "EDIT", edit_user_path(user), class: "main-text main-text-header main-text-link" %>
    </div>
    <div class="col-6 col-lg-2 text-center align-self-center">
      <%= link_to "DELETE", user, method: :delete, class: "main-text main-text-header main-text-link", data: { confirm: "Are you sure you want to delete the user: " + user.username } %>
    </div>
  </div>
  <% if user != @users.last %>
    <hr/>
  <% end %>
<% end %>

<%= will_paginate %>
<hr/>
  
