<% if logged_in? and current_user.admin? %>
  <div class="row mb-3">
    <div class="col text-center">
      <%= link_to "ADD NEW VIDEO", new_video_path, class: "main-text main-text-header main-text-link" %>
    </div>
  </div>
<% end %>

<%= render 'shared/page_title', title: "All Videos" %>

<%= will_paginate %>
<% if @videos.total_pages > 1 %>
  <hr/>
<% end %>
<% @videos.each do |video| %>
  <div class="row">
    <div class="col-12">
      <section class="text-center main-text main-text-header mt-3">      
        <%= link_to video_header(video), video_path(video), { class: "main-text-link" } %>
      </section>
    </div>

    <div class="col-12 embed-responsive embed-responsive-16by9">
      <%= youtube_link(video.url) %>
    </div>

    <% if logged_in? and current_user.admin? %>
      <div class="col-6 col-lg-2 text-center align-self-center">
        <%= link_to "EDIT", edit_video_path(video), class: "main-text main-text-header main-text-link" %>
      </div>
      <div class="col-6 col-lg-2 text-center align-self-center">
        <%= link_to "DELETE", video, method: :delete, class: "main-text main-text-header main-text-link", data: { confirm: "Are you sure you want to delete the video: " + video.title } %>
      </div>
    <% end %>
  </div>
  <% if video!= @videos.last %>
    <hr/>
  <% end %>
<% end %>

<%= will_paginate %>
<hr/>