<hr/>
<div class="row justify-content-center">
  <div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "POSTS", posts_path, class: "main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "PICTURES", pictures_path, class:"main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "BANDS", bands_path, class: "main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "USERS", users_path, class:"main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "SHOWS", shows_path, class: "main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "VENUES", venues_path, class:"main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "RELEASES", releases_path, class:"main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "TRACKS", tracks_path, class:"main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "VIDEOS", videos_path, class: "main-text main-text-header main-text-link" %></div>
	<div class="col-lg-6 my-4 my-lg-3 text-center"><%= link_to "RELEASE-TYPES", release_types_path, class: "main-text main-text-header main-text-link" %></div>
</div>
<hr/>