<%= render 'shared/errors', obj: @band %> 

<%= form_for @band do |f| %>
  <div class="row main-text">
    <div class="col-sm-5">
      <%= f.label :name %>
    </div>
    <div class="col-sm-7">
      <%= f.text_field :name %>
    </div>
    <div class="col-sm-5">
      <%= f.label :email %> (optional)
    </div>
    <div class="col-sm-7">
      <%= f.email_field :email %>
    </div>
    <div class="col-sm-5">
      <%= f.label :contact_name %> (optional)
    </div>
    <div class="col-sm-7">
      <%= f.text_field :contact_name %>
    </div>
    <div class="col-sm-5">
      <%= f.label :url %> (optional)
    </div>
    <div class="col-sm-7">
      <%= f.url_field :url %>
    </div>   
    <div class="col-6 text-center mt-4">
      <%= f.submit(@band.new_record? ? 'Create new Band' : 'Edit Band Profile', class: "btn btn-default") %>
    </div>
    <div class="col-6 text-center mt-4">
      <button class="btn btn-default"><%= link_to "Cancel", :back, class: "form-button" %></button>
    </div>

  </div>
  
<% end %>

<hr/>