<%= render 'shared/errors', obj: @picture %> 

<%= form_for(@picture, html: { multipart: true }) do |f| %>
  <div class="row main-text form-group">
    <div class="col-sm-5">
      <%= f.label :alt_text, 'Description (for accessibility)' %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_field :alt_text, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :in_gallery, 'Use in Gallery?' %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.check_box :in_gallery, class: "big-checkbox form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :picture %>
    </div>
    <% if f.object.picture? %>
      <div class="col-sm-7 form-group">
        <%= image_tag f.object.picture.middle.url, class: "img-thumbnail" %>
      </div>
    <% end %>

    <span class="col-sm-7 picture form-group">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control-file" %>
    </span>
    

    <div class="col-6 text-center mt-4 form-group">
      <%= f.submit(@picture.new_record? ? 'Upload new picture' : 'Edit picture', class: "btn btn-default form-button") %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <button class="btn btn-default"><%= link_to "Cancel", :back, class: "form-button" %></button>
    </div>

  </div>
  
<% end %>

<hr/>

<%= render 'shared/picturejavascript' %>
