<%= render 'shared/errors', obj: @post %> 

<%= form_for @post do |f| %>
  <div class="row main-text">
    <div class="col-sm-5">
      <%= f.label :title %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="col-sm-5">
      <%= f.label :post_text %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_area :post_text, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :pinned, 'Pin to Homepage?' %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.check_box :pinned, class: "big-checkbox form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :fb_post, 'Post to Facebook?', {class: "fb-post-label"} %>
    </div>
    <div class="col-sm-7 form-group">
      <input type="checkbox" class="big-checkbox fb-post-checkbox form-control float-left">
      <input type="button" class="btn btn-default fb-post-reset float-right hide collapse" value="Re-enable FB-post checkbox">
      <%= f.hidden_field :fb_post, class: "fb-post-hidden" %>
    </div>
        <div class="col-sm-5 form-group">
      <%= f.label :tw_post, 'Post to Twitter?', {class: "tw-post-label"} %>
    </div>
    <div class="col-sm-7 form-group">
      <input type="checkbox" class="big-checkbox tw-post-checkbox form-control float-left">
      <input type="button" class="btn btn-default tw-post-reset float-right hide collapse" value="Re-enable TW-post checkbox">
      <%= f.hidden_field :tw_post, class: "tw-post-hidden" %>
    </div>
    
    
    <div class="col-sm-5 form-group">
      <p>Currently selected picture: </p>
    </div>
    <div class="col-sm-7 form-group img-panel">
      <% if f.object.picture_id? %><%= image_tag Picture.find(f.object.picture_id).picture.middle.url, class: "img-thumbnail" %><% else %>(No picture selected)<% end %>
    </div>
    <div class="col-sm-5 form-group">
      <%=f.label :picture_id %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.select :picture_id, options_for_select(Picture.all.map{ |s| [s.alt_text, s.id, {"data-img-src" => s.picture.middle.url, "data-img-alt" => s.alt_text}] }, @post.picture_id), {include_blank: "No Picture (or select below)"}, {class: "picture-dropdown form-control dropdown-options" } %>
    </div>
    
    <div class="col-sm-5 form-group">
      <%= f.label :picture_url, 'URL for picture' %> (Optional)
    </div>
    <div class="col-sm-7 form-group">
      <%= f.url_field :picture_url, class: "form-control" %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <%= f.submit(@post.new_record? ? 'Create new Post' : 'Edit Post', class: "btn btn-default form-button") %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <button class="btn btn-default"><%= link_to "Cancel", :back, class: "form-button" %></button>
    </div>
  </div>
<% end %>
<hr/>

<%= render 'shared/pictureselectorjs' %>
<%= render 'facebook_post_js' %>