<%= render 'shared/page_title', title: "Order#227 - Not One Step Back" %>

<%= will_paginate @posts %>

<% if @posts.total_pages > 1 %>
  <hr/>
<% end %>

<% @posts.each do |o| %>
  
  <div class="row d-flex">
    
    <div class="col-12 mt-3">
      <section class="main-text main-text-header align-self-center text-center">
        <%= link_to o.title, post_path(o), {class: "main-text-link"} %>
      </section>
    </div>
    
    <% if !o.picture_id? %>
      <div class="col-12 mt-3">
    <% else %>
      <% if @posts.index(o) % 2 == 0 %>
        <div class="col-12 col-lg-4 order-lg-1">
      <% else %>
        <div class="col-12 col-lg-4 order-lg-3">
      <% end %>
          <section class="text-center mt-3">
            <% if !o.picture_url? %>
              <%= image_tag(o.picture.picture.large.url, { class: "img-thumbnail img-fluid", alt_text: o.picture.alt_text }) %>
            <% else %>  
              <%= link_to image_tag(o.picture.picture.large.url, { class: "img-thumbnail img-fluid", alt_text: o.picture.alt_text }), o.picture_url %>
            <% end %>
          </section>
        </div>
      <div class="col-12 col-lg-8 order-lg-2 mt-3">
    <% end %>

      <section class="main-text">
        <p><%= simple_format(o.post_text) %></p>
        <p><small>Post last updated <%= o.updated_at.to_formatted_s(:rfc822) %></small></p>
      </section>
    </div>

  </div>
  <% if o != @posts.last %>
    <hr/>
  <% end %>

<% end %>

<%= will_paginate @posts %>

<hr/>
