<%= render 'shared/page_title', title: @post.title %>

  <div class="row d-flex">
    <% if !@post.picture_id? %>
      <div class="col-12 mt-3">
    <% else %>
        <div class="col-12 col-lg-4">      <section class="text-center mt-3">
        <% if !@post.picture_url? %>
          <%= image_tag(@post.picture.picture.large.url, { class: "img-thumbnail img-fluid", alt_text: @post.picture.alt_text }) %>
        <% else %>  
          <%= link_to image_tag(@post.picture.picture.large.url, { class: "img-thumbnail img-fluid", alt_text: @post.picture.alt_text }), @post.picture_url %>
        <% end %>
      </section>
    </div>
    <div class="col-12 col-lg-8 mt-3">
    <% end %>
    

    
    <section class="main-text">
      <p><%= simple_format(@post.post_text) %></p>
      <p><small>Post last updated <%= @post.updated_at.to_formatted_s(:rfc822) %></small></p>
    </section>
  </div>

</div>
<hr/>     
<div class="row">
  <% if logged_in? and current_user.admin? %>

      <div class="col-6 text-center align-self-center">
        <%= link_to "EDIT", edit_post_path(@post), class: "main-text main-text-header main-text-link" %>
      </div>
      <div class="col-6 text-center align-self-center">
        <%= link_to "DELETE", @post, method: :delete, class: "main-text main-text-header main-text-link", data: { confirm: "Are you sure you want to delete this post?" } %>
      </div>
  <% end %>
  <div class="col-12 text-center align-self-center">
    <%= link_to "Back to posts", posts_path, {class: "main-text main-text-header main-text-link"} %>
  </div>
</div>
    
