<%= render 'shared/errors', obj: @release_type %> 

<%= form_for @release_type do |f| %>
  <div class="row main-text form-group">
    <div class="col-sm-5">
      <%= f.label :name %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <%= f.submit(@release_type.new_record? ? 'Create new Release Type' : 'Edit Release Type', class: "btn btn-default form-button") %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <button class="btn btn-default form-button"><%= link_to "Cancel", :back, class: "form-button" %></button>
    </div>

  </div>
  
<% end %>

<hr/>