<%= render 'shared/errors', obj: @show %> 

<%= form_for @show do |f| %>
  <div class="row main-text">
    <div class="col-sm-5">
      <%= f.label :date %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.date_field :date, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :url, 'Event Link' %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.url_field :url, class: "form-control" %>
    </div>  
    
    <div class="col-sm-5 form-group">
      <%= f.label :venue_id, 'Venue' %>
    </div> 

    <div class="col-sm-7 form-group">
      <%= f.select :venue_id, options_for_select(Venue.all.map{ |s| [display_venue(s), s.id]}, @show.venue_id), {include_blank: "Select Venue"}, {class: "dropdown-options form-control" } %>
    </div>

    <div class="col-sm-5 form-group">
      <p>Currently selected bands: </p>
    </div>
    <div class="col-sm-7 form-group bands-panel">
      <%= list_bands(@show) %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :band_ids, 'Bands' %>
    </div> 
    <div class="col-sm-7 form-group">
      <%= f.select :band_ids, options_for_select(Band.all.map{ |s| [s.name, s.id, { "data-band-name" => s.name }]}, :selected => @show.band_ids), {}, {:multiple => true, class: "band-selector dropdown-options form-control" } %>
    </div>
    <div class="col-sm-5 form-group">
      <p>Currently selected picture: </p>
    </div>
    <div class="col-sm-7 form-group img-panel">
      <% if f.object.picture_id? %><%= image_tag Picture.find(f.object.picture_id).picture.middle.url, class: "img-thumbnail" %><% else %>(No picture selected)<% end %>
    </div>
    <div class="col-sm-5 form-group">
      <%=f.label :picture_id %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.select :picture_id, options_for_select(Picture.all.map{ |s| [s.alt_text, s.id, {"data-img-src" => s.picture.middle.url, "data-img-alt" => s.alt_text}] }, @show.picture_id), {include_blank: "No Picture (or select below)"}, {class: "picture-dropdown form-control dropdown-options" } %>
    </div>


  
    <div class="col-6 text-center mt-4 form-group">
      <%= f.submit(@show.new_record? ? 'Create new Show' : 'Edit Show', class: "btn btn-default") %>
    </div>
    <div class="col-6 text-center mt-4 form-group">
      <button class="btn btn-default"><%= link_to "Cancel", :back, class: "form-button" %></button>
    </div>

  </div>
  
<% end %>

<hr/>

<%= render 'shared/pictureselectorjs' %>
<%= render 'shared/bandselectorjs' %>