<div class="row nested-fields px-3">
  <div class="col-12">
    <p>Add new picture to database</p>
  </div>
  <hr/>
    <div class="col-sm-5">
      <%= f.label :alt_text, 'Description (for accessibility)' %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.text_field :alt_text, class: "form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :in_gallery, 'Use in Gallery?' %>
    </div>
    <div class="col-sm-7 form-group">
      <%= f.check_box :in_gallery, class: "big-checkbox form-control" %>
    </div>
    <div class="col-sm-5 form-group">
      <%= f.label :picture %>
    </div>

    <span class="col-sm-7 picture form-group">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control-file" %>
    </span>
  
</div>