<div class="nested-fields pt-2 mb-4 pb-4">
  <p>Add new venue to database</p>
  <hr/>
  <div class="col-sm-5">
    <%= f.label :name, "Venue Name" %>
  </div>
  <div class="col-sm-7">
    <%= f.text_field :name %>
  </div>
    <div class="col-sm-5">
    <%= f.label :city %>
  </div>
  <div class="col-sm-7">
    <%= f.text_field :city %>
  </div>  
    <div class="col-sm-5">
    <%= f.label :country %>
  </div>
  <div class="col-sm-7">
    <%= f.text_field :country %>
  </div>  
  
</div>
<hr/>