<%= render 'shared/page_title', title: "All Shows" %>
<div class="row mb-3">
  <div class="col text-center">
    <%= link_to "ADD NEW SHOW", new_show_path, class: "main-text main-text-header main-text-link" %>
  </div>
</div>

<%= will_paginate %>
<hr/>

<% @shows.each do |show| %>
  <div class="row">
    <div class="col-3">
      <section class="text-center mt-3">
        <%= link_to image_tag(show.picture.picture, {class: "img img-thumbnail", alt: show.picture.alt_text}), show.url, class: "img img-menu" %>
      </section>
    </div>
    <div class="col-5">
      <section class="main-text">
        <p><strong>Venue: </strong><%= link_to display_venue(show.venue), venue_path(show.venue), class: "main-text main-text-link" %></p>
        <p><strong>Date: </strong><%= link_to show.date.to_s, show_path(show), class: "main-text main-text-link" %></p>
        <p><strong>Bands: </strong>
          <% show.bands.each do |band| %>
            <%= link_to band.name, band_path(band), class: "main-text main-text-link" %> 
            <% if band != show.bands.last %> / <% end %>
          <% end %>
        </p>
        <p><strong>Event Link: </strong><% if !show.url? %>(NONE PRESENT)<% else %><%= link_to show.url, show.url, class: "main-text main-text-link" %><% end %></p>
      </section>
    </div>
    <div class="col-6 col-lg-2 text-center align-self-center">
      <%= link_to "EDIT", edit_show_path(show), class: "main-text main-text-header main-text-link" %>
    </div>
    <div class="col-6 col-lg-2 text-center align-self-center">
      <%= link_to "DELETE", show, method: :delete, class: "main-text main-text-header main-text-link", data: { confirm: "Are you sure you want to delete this show?" } %>
    </div>
  </div>
  <% if show != @shows.last %>
    <hr/>
  <% end %>
<% end %>

<%= will_paginate %>

<hr/>