<%= render 'shared/page_title', title: "Show: " + display_venue(@show.venue) + " on " + format_date(@show.date) %>
<div class="row mb-3">
  <div class="col-10 offset-1">
    <section class="main-text">
      <p><strong>Venue: </strong><%= link_to display_venue(@show.venue), edit_venue_path(@show.venue), class: "main-text main-text-link" %></p>
      <p><strong>Date: </strong><%= format_date(@show.date) %></p>
      <p><strong>Bands: </strong>
        <% @show.bands.each do |band| %>
          <%= link_to band.name, band_path(band), class: "main-text main-text-link" %> 
          <% if band !=@show.bands.last %> / <% end %>
        <% end %>
      </p>
      <p><strong>Event Link: </strong><% if !@show.url? %>(NONE PRESENT)<% else %><%= link_to @show.url, @show.url, class: "main-text main-text-link" %><% end %></p>
      <p><strong>Flyer: </strong></p>
      <div class="text-center"><%= link_to image_tag(@show.picture.picture.large.url, class: "img-thumbnail"), picture_path(@show.picture) %></div>
    </section>
  </div>
</div>

<div class="row">
  <% if logged_in? and current_user.admin? %>
    <div class="col-4 text-center my-3">
      <%= link_to "Back to shows", shows_path, class: "main-text main-text-link" %>
    </div>
    <div class="col-4 text-center my-3">
      <%= link_to "EDIT SHOW", edit_show_path(@show), class: "main-text main-text-link" %>
    </div>
    <div class="col-4 text-center my-3">
      <%= link_to "DELETE SHOW", @show, method: :delete, class: "main-text main-text-link", data: { confirm: "Are you sure you want to delete the show on: " +  format_date(@show.date) + "?" } %>
    </div>
  <% else %>
    <div class="col-12 text-center my-3">
      <%= link_to "Back to Shows", shows_path, class: "main-text main-text-link" %>
    </div>
  <% end %>
</div>
<hr/>
