<%= render 'shared/page_title', title: "Show: " + display_venue(@show.venue) + " on " + @show.date.to_s, link: edit_show_path(@show) %>
<div class="row mb-3">
  <div class="col-11 offset-1">
    <section class="main-text">
      <p><strong>Venue: </strong><%= link_to display_venue(@show.venue), venue_path(@show.venue), class: "main-text main-text-link" %></p>
      <p><strong>Date: </strong><%= @show.date.to_s %></p>
      <p><strong>Bands: </strong>
        <% @show.bands.each do |band| %>
          <%= link_to band.name, band_path(band), class: "main-text main-text-link" %> 
          <% if band !=@show.bands.last %> / <% end %>
        <% end %>
      </p>
      <p><strong>Event Link: </strong><% if !@show.url? %>(NONE PRESENT)<% else %><%= link_to @show.url, @show.url, class: "main-text main-text-link" %><% end %></p>
      <p><strong>Flyer: </strong></p>
      <div class="text-center"><%= link_to image_tag(@show.picture.picture.large.url, class: "img-thumbnail"), picture_path(@show.picture) %></div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-6 text-center my-3">
    <%= link_to "Back to shows", shows_path, class: "main-text main-text-link" %>
  </div>
  <div class="col-6 text-center my-3">
    <%= link_to "DELETE THIS SHOW", @show, method: :delete, class: "main-text main-text-link", data: { confirm: "Are you sure you want to delete the show on: " +  @show.date.to_s + "?" } %>
  </div>
</div>
<hr/>
