<div class="navbar navbar-bottom navbar-dark navbar-default">	
	<span class="footer-text">
		&copy; 2018 Order#227. All Rights Reserved. Website by <%= mail_to "contact@hootingbananastudios.com", "Isaac Westwood", class: "footer-text-link" %>. <%= link_to "Privacy policy", privacy_path, class: "footer-text-link" %>
	</span>
	
	<div class="float-right footer-text">
  	<% if !logged_in? %>
      <%= link_to "Subscribe to mailing list", register_path, class: "footer-text-link" %> / <%= link_to "Login", login_path, class: "footer-text-link" %>
    <% else %>
    	Subscribed to mailing list as: <strong><%= current_user.username %></strong> - <%= link_to "Edit Subscription", user_path(current_user), class: "footer-text-link" %> - <%= link_to "Log Out", logout_path, class: "footer-text-link" %>
    <% end %>
  </div>
</div>	
