<div class="col-lg-2 order-lg-1 col-10 offset-1 offset-lg-0 order-3 mt-3">

<div class="main-text col-12 text-center">
  <%= link_to "Upcoming Shows", shows_path, class: "main-text main-text-link" %>
</div>
<hr/>
<% if @nextfiveshows.count < 1 %>
  <div class="col-12 text-center">
    <%= link_to "Contact us to hear Order#227 near you!", contact_path, {class: "main-text main-text-link"} %>
  </div>
<% end %>
<% @nextfiveshows.each do |show| %>
  <div class="row">
    <div class="col-12">
      <section class="mt-1 footer-text">
        <p><%= link_to format_date(show.date), show_path(show), class: "left-bar" %></p>
        <p><%= link_to display_venue(show.venue), show_path(show), class: "left-bar" %></p>
      </section>
  </div>
    <div class="col-12">
      <section class="footer-text">
        <strong>Bands: </strong>
          <% show.bands.each do |band| %>
              <%= band.name %>
            <% if band != show.bands.last %> / <% end %>
          <% end %>
        
      </section>
    </div>
   </div>
  <% if show != @nextfiveshows.last %>
    <hr/>
  <% end %>
<% end %>

<hr/>

</div>