<!DOCTYPE html>
<html>
  <head>
    <title>Order#227</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to image_tag('/assets/images/O227textlogo.png',), "home" %>
      </div>
    </nav>
    
    <div class="center container">
      <%= yield %>
    </div>
  </body>
</html>
