<!DOCTYPE html>
<html>
  <head>
    <title>Order#227</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body class="main-background">
  <%= render 'layouts/messages' %>  
  <%= render 'layouts/navigation' %>
  
  <% if logged_in? and current_user.admin? %>
    <div class="container">
      <div class="row">
        <div class="col mb-5 text-center">
          <%= link_to "MANAGE CONTENT", siteadmin_path, class: "main-text main-text-header main-text-link" %>
        </div>
      </div>
    </div>
  <% end %>
    
    <div class="container-fluid main-background">
			<div class="row">
        <%= render 'layouts/leftbar' %>
				<div class="col-lg-8 order-2 order-lg-2">
          <%= yield %>
        </div>

        <%= render 'layouts/rightbar' %>
			</div>
		</div>
		
  <%= render 'layouts/footer' %>
  </body>
	
</html>